.btn {
	align-items: center;
	border-radius: 0.5em;
	color: var(--colour-black);
	cursor: pointer;
	display: inline-flex;
	line-height: 1.5;
	padding: 0.8em 1.1em;
	text-decoration: none;
}

.primary {
	background-color: var(--colour-black);
	border: 1px solid var(--colour-black);
	color: var(--colour-white);

	&:hover,
	&:focus {
		box-shadow: var(--shadow-large);
	}

	&:hover {
		background-color: var(--colour-white);
		color: var(--colour-black);
	}

	&:disabled {
		background-color: var(--colour-grey);
		color: var(--colour-black);
		cursor: default;
	}
}

.secondary {
	background-color: var(--colour-white);
	border: 1px solid var(--colour-black);
	color: var(--colour-black);

	&:hover {
		background-color: var(--colour-black);
		color: var(--colour-white);
	}
}
